<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center"><span ng-bind="document.titre"></span></h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <a href="#" class="thumbnail">
                            <img src="images/pdf_icon.png" alt="..." height="200" width="260">
                        </a>
                        <br>
                        <p><b>Noter ce document !</b></p>

                        <rating ng-model="rate" max="5" readonly="false" ng-change="setRate(rate)"></rating> <span ng-bind="rate"></span>/5 
                        <br>
                        (<span ng-bind="document.nbVote"></span> note(s))

                    </div>

                    <div class="col-md-6">
                        <div class="thumbnail">
                            <p><b>Auteur</b> : <span ng-bind="document.utilisateur.prenom"></span> <span ng-bind="document.utilisateur.nom"></span><br>
                                <b>Date de publication</b> : <span ng-bind="document.dateDePublication"></span><br>
                                <b>Domaine</b> : <span ng-bind="document.domaine"></span><br>
                                <b>Discipline</b> : <span ng-bind="document.discipline"></span><br>
                                <b>Niveau</b> : <span ng-bind="document.niveau"></span><br>
                                <a class="pull-right btn btn-default btn-md" href="{{docUrl}}/{{document.id}}/file"><span class="glyphicon glyphicon-download-alt"></span> Télécharger
                                </a>

                                <span >
                                    <b>Mots clés</b> : <span ng-bind="document.motCle"></span>
                                </span><hr>
                            <h4><b>Description</b></h4><hr>
                            <span ng-bind="document.description"></span>
                            </p>                            
                        </div><hr>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><b>Commentaires</b></h4>
                            </div>
                            <div class="panel-body">
                                <form ng-if="authenticated" ng-submit="SetComment(comment)">
                                    <textarea  type="text" class="form-control" ng-model="comment" ></textarea> 
                                <button class="btn btn-default" > Valider</button>
                                </form>                                
                                <p ng-if="!authenticated">
                                    Vous devez être connecté pour commenter ce document<br>
                                <a class="btn btn-default btn-md" href="#/redirectionlogin" >Connection avec Bwania</a>
                                <a href="" ng-click="fbLogin()"><img src="images/facebook3.png" alt="facebook" ></a>
                            </p>                                
                            </div>

                            <!-- Affichage des commentaire -->
                            <div ng-repeat="docComment in comments" class="thumbnail documents">
                                <p>
                                    <span class="text-primary"><b>{{docComment.utilisateur.prenom}} {{docComment.utilisateur.nom}}</b></span><br>
                                    <span ng-bind="docComment.designation"></span>
                                </p>                            
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <br>
                        <div class="list-group ng-hideh" ng-showh="otherDocPerDomaine">
                            <a href="#" class="list-group-item active">
                                <h4 class="list-group-item-heading text-center">Documents similaires</h4>                        
                            </a>
                            <a href="#/docDetails/{{doc.id}}" class="list-group-item" ng-repeat="doc in documents">
                                <h5 class="list-group-item-heading"><b><span class="text-primary" ng-bind="doc.titre"></span></b></h5>
                                <p class="list-group-item-text">
                                    <b>Domaine</b> : <span ng-bind="doc.domaine"></span>,<br>
                                    <b>Discipline</b> : <span ng-bind="doc.discipline"></span>,<br>
                                </p>
                            </a>                  
                        </div>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>