<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h3> Activation du compte</h3></div>
        <div class="panel-body ">
        
            <div class="row">
        
        
        <div class="col-xs-6 col-md-4">
            <form class="form-signin" ng-submit="submitLogin({email:email,motDepasse:motDepasse})"> 
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <input class="form-control" type="text" id="inputEmail" autofocus="" required="" placeholder="Entrer l'email" ng-model="email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="inputPassword1" required="" placeholder="Entrer le mot de passe" ng-model="motDepasse">
                </div>
                <button type="submit" class="btn btn-primary">Activation</button>
                 <p ng-hide="submited" class="text-danger ng-hide">E-mail ou mot de passe incorect !</p>
                 <p ng-hide="activated" class="text-danger ng-hide">Votre compte n'a pas pu être activé, veuillez réessayer !</p>                
            </form> 
        </div>
                
        <div class="col-xs-9 col-md-6 col-md-offset-2">
            
        </div>
    </div>
            
    </div>
        
    </div>
    
</div>