<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Informations de connexions</h3></div>
        <div class="panel-body">
            <form>
                <fieldset class="col-md-4">

                    <div class="thumbnail">
                        <label for="inputEmail">Adresse electronique :</label>
                        <a class="pull-right ng-hide" href="" ng-hide="hideEmail" ng-click="emailModifier()"><h6>Modifier</h6></a>
                        <a class="pull-right ng-hide" href="" ng-show="hideEmail" ng-click="emailAnuler()"><h6>Annuler</h6></a>
                        <span class="animate-hide" ng-bind="email" ng-hide="hideEmail"></span>
                        <input type="email" class="form-control animate-hide" ng-show="hideEmail" required="" placeholder="Entrer votre adresse électronique" ng-model="user.email"/>
                        <input type="submit" id="submit" value="Valider" class="btn btn-primary nd-hide" ng-show="hideEmail"  ng-click="updateEmail()"/>
                        <a type="submit" id="submit" href="#/userhome" class="btn btn-info ng-hide" ng-show="hideEmail">Retour</a>     
                        <p ng-show="errorMessage2" class="text-danger ng-hide">Cet email est déjà utilisé !</p>
                    </div>
                    
                    <div class="thumbnail">
                         
                        <label class="form-group animate-hide" ng-hide="hideMotDePasse">Mot de passe :</label>
                        <a class="pull-right ng-hide" href="" ng-hide="hideMotDePasse" ng-click="motDePasseModifier()"><h6>Modifier</h6></a>
                        <a class="pull-right ng-hide" href="" ng-show="hideMotDePasse" ng-click="motDePasseAnuler()"><h6>Annuler</h6></a>
                        
                    <div class="form-group animate-hide" ng-show="hideMotDePasse">
                        <label>Ancien mot de passe :</label>
                        <input type="password" class="form-control" required="" placeholder="Entrer l'ancien mot de passe" ng-model="password2">
                        <p ng-show="errorPassword3" class="text-warning ng-hide">Ceci n'est pas votre ancien mot de passe !</p>
                    </div>

                    <div class="form-group animate-hide" ng-show="hideMotDePasse">
                        <label>Nouveau mot de passe :</label>
                        <input type="password" class="form-control" required="" placeholder="Entrer le nouveau mot de passe" ng-model="user.motDepasse">
                    </div>

                    <div class="form-group animate-hide" ng-show="hideMotDePasse">
                        <label>Confirmer le nouveau mot de passe :</label>
                        <input type="password" class="form-control" id="inputPassword1" required="" placeholder="Répéter le mot de passe" ng-model="password3">
                    </div>

                    <div class="alert alert-success alert-dismissable animate-hide" ng-show="updateSucces">
                                        <button type="button" class="close" ng-click="dismissAlert()" aria-hidden="true">&times;</button>
                                        Vos informations ont été mis à jour.
                    </div>

                     <input type="submit" id="submit" value="Valider" class="btn btn-primary ng-hide" ng-show="hideMotDePasse" ng-click="updatePassWord()"/>

                     <a type="submit" id="submit" href="#/userhome" class="btn btn-info ng-hide" ng-show="hideMotDePasse">Retour</a>    

                    <p ng-hide="errorMesage" class="text-danger ng-hide">Une erreur s'est produite lors de la modification,
                        veuiller recommencer !</p>
                    <p ng-show="errorPassword" class="text-danger ng-hide">Le mot de passe n'est pas le même !</p>
                    <p ng-show="errorPassword2" class="text-warning ng-hide">Le mot de passe doit avoir au moins huit caractères !</p>                    
                    
                    </div>
                    
                </fieldset>
            </form>
        </div>
    </div>

</div>
