<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <!-- Entête du profil -->
                    <div class="row">
                        <div class="col-sm-1">
                            <img class="img-responsive" src="images/imgUser.png" alt="User" >
                        </div>
                        <div class="col-sm-4">
                            <h3><span ></span>{{prenom}} {{nom}}</h3>

                        </div>
                    </div>
                </div>
                <form ng-submit="setUser()">
                    <div class="panel-body">

                        <div class="col-md-8">
                            <div class="row">

                                <!-- Info principal -->
                                <fieldset class="col-md-6">
                                    <legend><h3>Informations principales</h3></legend>
                                    <div class="thumbnail">
                                        <label >Nom : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideNom" ng-click="nomModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideNom" ng-click="nomAnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-bind="nom" ng-hide="hideNom"></span>
                                        <input class="form-control animate-hide" ng-show="hideNom" type="text" required="" placeholder="Entrer votre nom" maxlength="40" ng-model="user.nom"/>
                                    </div>

                                    <div class="thumbnail">
                                        <label >Prenom : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hidePrenom" ng-click="prenomModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hidePrenom" ng-click="prenomAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-bind="prenom" ng-hide="hidePrenom"></span>
                                        <input class="form-control animate-hide" ng-show="hidePrenom" type="text" required="" placeholder="Entrer votre prénom" maxlength="60" ng-model="user.prenom"/>
                                    </div>

                                    <div class="thumbnail">
                                        <label >Sexe : </label> 
                                        <a class="pull-right ng-hide" href="" ng-hide="hideSexe" ng-click="sexeModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideSexe" ng-click="sexeAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-bind="sexe" ng-hide="hideSexe"></span>
                                        <select class="form-control animate-hide" required="" ng-show="hideSexe" ng-model="user.sexe">
                                            <option selected value="M" >Masculin</option>
                                            <option value="F" >Feminin</option>
                                        </select>
                                    </div>

                                    <div class="thumbnail">
                                        <label >Date de naissance : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideDateDeNaissance" ng-click="dateDeNaissanceModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideDateDeNaissance" ng-click="dateDeNaissanceAnnuler()"><h6>Annuler</h6></a>
                                        <span  class="animate-hide" ng-bind="dateDeNaissance" ng-hide="hideDateDeNaissance"></span>                                        
                                        <p class="input-group animate-hide" ng-show="hideDateDeNaissance">
                                <input type="text" class="form-control" id="inputDateNaiss" is-open="opened" required="" placeholder="Entrer votre date de naissance" datepicker-popup="{{'dd/MM/yyyy'}}" max-date="dateMax" ng-model="user.dateDeNaissance" close-text="Fermer" current-text="Aujourd'hui" clear-text="Suppr."/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                                </span>
                            </p>
                                    </div>

                                    <div class="thumbnail">
                                        <a class="pull-right ng-hide" href="" ng-hide="hideLangue" ng-click="langueModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideLangue" ng-click="langueAnnuler()"><h6>Annuler</h6></a>
                                        <label >Langue parlée : </label> 
                                        <span class="animate-hide" ng-hide="hideLangue" ng-bind="langueParle"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideLangue" placeholder="Entrer votre langue"  maxlength="20" ng-model="user.langueParle"/>
                                    </div>

                                    <div class="thumbnail">
                                        <a class="pull-right ng-hide" href="" ng-hide="hideTel" ng-click="TelModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideTel" ng-click="TelAnnuler()"><h6>Annuler</h6></a>
                                        <label >Téléphone : </label>
                                        <span class="animate-hide" ng-hide="hideTel" ng-bind="telephone"></span>
                                        <input type="tel" class="form-control animate-hide" ng-show="hideTel" placeholder="Entrer votre numéro de téléphone" maxlength="20" ng-model="user.telephone"/>
                                    </div>

                                    <div class="thumbnail">
                                        <label >Ville de résidence : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideVille" ng-click="villeModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideVille" ng-click="villeAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideLangue" ng-bind="ville"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideVille" placeholder="Entrer le nom de votre ville" ng-model="user.ville"/>
                                    </div>

                                    <div class="thumbnail">
                                        <label >Pays de résidence : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hidePays" ng-click="paysModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hidePays" ng-click="paysAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hidePays" ng-bind="pays"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hidePays" placeholder="Entrer le nom de votre Pays" ng-model="user.pays"/>
                                    </div>

                                </fieldset>

                                <!-- Info Complementaire -->
                                <fieldset class="col-md-6">
                                    <legend><h3>Informations Complementaires</h3></legend>

                                    <div class="thumbnail">
                                        <label >Statut :</label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideStatut" ng-click="statutModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideStatut" ng-click="statutAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideStatut" ng-bind="statut"></span>
                                        <select class="form-control animate-hide" required="" ng-show="hideStatut" ng-model="user.statut">
                                            <option value="élève" >Elève</option>
                                            <option value="étudiant" >Etudiant</option>
                                            <option value="enseignant" >Enseigant</option>
                                            <option value="professionnel" >Professionnel</option>
                                        </select>
                                    </div>

                                    <!--Pour élève uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="eleve">
                                        <label>Etablissement : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideEtablissement" ng-click="etablissementModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideEtablissement" ng-click="etablissementAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideEtablissement" ng-bind="etablissement"></span>
                                        <input class="form-control animate-hide" ng-show="hideEtablissement" type="text"  placeholder="Entrer le nom de votre école" maxlength="60" ng-model="user.etablissement"/>
                                    </div>

                                    <!--Pour étudiant uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="etudiant">
                                        <label >Etablissement : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideEtablissement" ng-click="etablissementModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideEtablissement" ng-click="etablissementAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideEtablissement" ng-bind="etablissement"></span>
                                        <input class="form-control animate-hide" ng-show="hideEtablissement" type="text"  placeholder="Entrer le nom de votre établissement" maxlength="60" ng-model="user.etablissement"/>
                                    </div>

                                    <!--Pour enseignant uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="enseignant">
                                        <label >Etablissement de travail : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideEtablissement" ng-click="etablissementModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideEtablissement" ng-click="etablissementAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideEtablissement" ng-bind="etablissement"></span>
                                        <input class="form-control animate-hide" ng-show="hideEtablissement" type="text" placeholder="Entrer le nom de votre établissement" maxlength="60" ng-model="user.etablissement"/>
                                    </div>

                                    <!--Pour élève uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="eleve">
                                        <label >Classe : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideClasse" ng-click="classeModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideClasse" ng-click="classeAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideClasse" ng-bind="filiere"></span>
                                        <input class="form-control animate-hide" ng-show="hideClasse" type="text" class="form-control" placeholder="Entrer votre classe" maxlength="80" ng-model="user.filiere"/>
                                    </div>
                                    <!--Pour étudiant uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="etudiant">
                                        <label >Filère : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideClasse" ng-click="classeModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideClasse" ng-click="classeAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideClasse" ng-bind="filiere"></span>
                                        <input class="form-control animate-hide" ng-show="hideClasse" type="text" class="form-control" placeholder="Entrer votre filière" maxlength="80" ng-model="user.filiere"/>          
                                    </div>
                                    
                                    <!--Pour professionnel uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="professionnel">
                                        <label >Poste : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideRole" ng-click="roleModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideRole" ng-click="roleAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideRole" ng-bind="roles"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideRole" placeholder="Entrer votre poste" maxlength="40" ng-model="user.roles"/>
                                    </div>

                                    <!--Pour professionnel uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="professionnel">
                                        <label >Entreprise : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideEntreprise" ng-click="entrepriseModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideEntreprise" ng-click="entrepriseAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideEntreprise" ng-bind="societe"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideEntreprise" placeholder="Entrer votre le nom de entreprise" maxlength="40" ng-model="user.roles"/>
                                    </div>

                                    <!--Pour professionnel uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="professionnel">
                                        <label >Ancienneté : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideAnciennete" ng-click="ancienneteModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideAnciennete" ng-click="ancienneteAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideAnciennete" ng-bind="ancienete"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideAnciennete" placeholder="Entrer votre ancienneté" maxlength="30" ng-model="user.ancienete"/>
                                    </div>

                                    <!--Pour professionnel uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="professionnel">
                                        <label >Site Web (Blog) : </label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideSiteWeb" ng-click="siteWebModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideSiteWeb" ng-click="siteWebAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideSiteWeb" ng-bind="siteweb"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideSiteWeb" maxlength="30" placeholder="Entrer votre site web" ng-model="user.siteweb"/>
                                    </div>
                                    <!--Pour enseignant uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="enseignant">
                                        <label>Spécialité :</label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideDomaine" ng-click="domaineModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideDomaine" ng-click="domaineAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideDomaine" ng-bind="domaine"></span> 
                                        <input type="text" class="form-control animate-hide" ng-show="hideDomaine" placeholder="Entrer votre spécialité" maxlength="100" ng-model="user.domaine"/>
                                    </div>

                                    <!--Pour professionnel uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="professionnel">
                                        <label>Domaine :</label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideDomaine" ng-click="domaineModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideDomaine" ng-click="domaineAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideDomaine" ng-bind="domaine"></span> 
                                        <input type="text" class="form-control animate-hide" ng-show="hideDomaine" placeholder="Entrer votre domaine" maxlength="100" ng-model="user.domaine"/>
                                    </div>

                                    <!--Pour enseignant uniquement-->
                                    <div class="animate-hide thumbnail" ng-show="enseignant">
                                        <label>Matière enseignée :</label>
                                        <a class="pull-right ng-hide" href="" ng-hide="hideMatiere" ng-click="matiereModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideMatiere" ng-click="matiereAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideMatiere" ng-bind="matiere"></span>
                                        <input type="text" class="form-control animate-hide" ng-show="hideMatiere" placeholder="Entrer vos matières enseigné" maxlength="30" ng-model="user.matiere"/>
                                    </div>  
                                   
                                    <input type="submit" value="Valider" class="btn btn-primary btn-block"/>
                                   
                                    <div class="alert alert-success alert-dismissable animate-hide" ng-show="updateSucces">
                                        <button type="button" class="close" ng-click="dismissAlert()" aria-hidden="true">&times;</button>
                                        Vos informations ont été mis à jour.
                                    </div>
                                   
                                    <p ng-show="errorMesage" class="text-danger ng-hide">Une erreur s'est produite lors des modifications,
                                        veuiller recommencer !</p>
                                
                                </fieldset>

                            </div>

                            <!-- Info parcour -->
                            <div class="row">
                                <div class="panel panel-default">
                                    <div class="panel-heading"><h4>Parlez-nous de vous</h4></div>
                                    <div class="panel-body">
                                        <a class="pull-right ng-hide" href="" ng-hide="hideAproposDeVous" ng-click="aproposDeVousModifier()"><h6>Modifier</h6></a>
                                        <a class="pull-right ng-hide" href="" ng-show="hideAproposDeVous" ng-click="aproposDeVousAnnuler()"><h6>Annuler</h6></a>
                                        <span class="animate-hide" ng-hide="hideAproposDeVous" ng-bind="aproposDeVous"></span>
                                        <textarea type="text" class="form-control animate-hide" ng-show="hideAproposDeVous" rows="3" placeholder="Dites-nous plus sur vous" maxlength="600" ng-model="user.aproposDeVous"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <p>
                                <a class="btn btn-primary btn-block" href="#/updatecredentials">Actualiser mes informations de connexion</a><br>
                                <a class="btn btn-primary btn-block" href="#/mydocuments">Mes publications</a><br>                            
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>