<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <!-- Entête du profil -->
                    <div class="row">
                        <div class="col-sm-1">
                            <img class="img-responsive" src="images/ecoleImage.png" alt="User" >
                        </div>
                        <div class="col-sm-4">
                            <h3><span ng-bind="etablissement.nom"></span></h3>

                        </div>
                    </div>
                </div>
                <form>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">

                                <img src="images/Images01.jpg" alt="images1">
                                <a class="pull-right btn btn-default btn-md" ng-click="activateSchool(etablissement.id)"><span class="glyphicon glyphicon-check" ></span> Activer votre éspace établissement avec cette établissement
                                </a>
                                <div class="pull-right alert alert-success alert-dismissable ng-hide" ng-show="spaceActivated">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    Votre espace établissement est activé
                                </div>
                                <p ng-show="activationFaild" class="text-danger ng-hide">Une erreur s'est produite lors de l'enregistrement. Veuillez recomencer ou contacter votre administrateur !</p>
                            </div>
                            <div class="col-md-4">
                                <address>
                                    <b style="color: #ff6d0b;">Adresse</b><br>
                                    <span ng-bind="etablissement.adresse"></span><br>
                                    Vill, pays<br>
                                    <abbr title="Phone">Tél:</abbr> <span ng-bind="etablissement.telephone"></span>
                                </address>

                                <address>
                                    <b style="color: #ff6d0b;">Email</b><br>
                                    <a href="mailto:{{etablissement.email}}"><span ng-bind="etablissement.email"></span></a>
                                </address>

                                <address>
                                    <b style="color: #ff6d0b;">Site Web</b><br>
                                    <a href="mailto:#"><span ng-bind="etablissement.siteweb"></span></a>
                                </address>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-8">
                                <hr>
                                <section class="row">
                                    <article class="col-md-4">
                                        <div class="thumbnail" style="height: 400px; width: 300px;">
                                            <img src="images/imgB4.jpg" alt="300x200" style="width: 300px; height: 200px;">
                                            <div class="caption">
                                                <a href="#/formation/college/Collège"> <h3 class="text-success text-center"><font><font>Emploi du temps</font></font></h3></a>

                                                <p><font><font class="">Nullam id dolor Identifiant NIBH ultricies vehicula ut Identifiant elit.</font></font></p>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-4">
                                        <div class="thumbnail" style="height: 400px; width: 300px;">
                                            <img src="images/imgB3.jpg" alt="300x200" style="width: 300px; height: 200px;">
                                            <div class="caption">

                                                <a href="#/formation/lycee/Lycée"><h3 class="text-info text-center"><font><font>Anciens éxamens et DST</font></font></h3></a>

                                                <p><font><font>L'objectif du lycée est double : réussir l'examen du bac et préparer les études supérieures. </font></font></p>

                                            </div>
                                        </div>
                                    </article>

                                    <article class="col-md-4">
                                        <div class="thumbnail" style="height: 400px; width: 300px;">
                                            <img src="images/imgB6.png" alt="300x200" style="width: 300px; height: 200px;">
                                            <div class="caption">
                                                <a href="#/formation/univ/Université"> <h3 class="text-danger text-center"><font><font>Documentation</font></font></h3> </a>              
                                                <p><font><font class="">Nullam id dolor Identifiant NIBH ultricies vehicula ut Identifiant elit.</font></font></p>

                                            </div>
                                        </div>
                                    </article>
                                </section>

                                <article>
                                    <h3 style="color: #ff6d0b;">Présentation</h3>
                                    <p><span ng-bind="etablissement.presentation"></span></p>
                                </article><hr>

                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>