<div class="container" style="margin-bottom: 100px; margin-top: 100px;">
    
    <div class="row">
        
        <div class="col-md-4">
             <a href="#"><img src="images/imgLogin.png" class="img-responsive"></a>
        </div>
        
<!-----------------Section Login -..............................-->
        
         <div class="col-sm-4 col-md-4">
                
             <div class="panel panel-default" >
        <div class="panel-heading text-center"><h3> Se connecter à Bwania</h3></div>
        <div class="panel-body ">
   
            <form class="form-signin" ng-submit="submitLogin({email:user.email})"> 
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <input class="form-control" type="text" id="inputEmail" autofocus="" required="" placeholder="Entrer l'email" ng-model="user.email">
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Mot de passe</label>
                    <input type="password" class="form-control" id="inputPassword1" required="" placeholder="Entrer le mot de passe" ng-model="user.motDepasse">
                </div>
                <button type="submit" class="btn btn-primary">Se connecter</button>
                 <p ng-hide="submited" class="text-danger ng-hide">E-mail ou mot de passe incorect !</p>
                 <p ng-hide="accountActivated" class="text-danger ng-hide">Votre compte n'est pas encore activé veuillez l'activer grâce au mail qui vous a été envoyer lors de votre inscription à Bwania !</p>
                <p><a href="#/resetpassword"> Mot de passe oublier ?</a><br/>
                    <a href="#/signup"> Pas encore inscrit ?</a>
                </p>
            </form> 
     
                
        
    </div>
        
    </div>
    
        </div>
        
<!-----------------Section Login -..............................-->
<div class="col-sm-4 col-md-4" >
    <h3> Ou avec :</h3>
    
    <a class="img-responsive" ng-click="fbLogin()"><img src="images/facebook2.png" alt="facebook" ></a>
    <hr>
<a href="" type="button" class="btn btn-default"></button><img src="images/twitter2.png" class="img-responsive"></a>
     <hr>
<a href="" type="button" class="btn btn-default"></button><img src="images/linkedin2.png" class="img-responsive"></a>

 </div>
        
    </div>
    
    
    

</div>