<div class="container" style="margin-bottom: 50px; margin-top: 50px;">
    <div class="row">

        <div class="col-md-8">
                <a href=""><img src="images/imgLogin.png" class="img-responsive"></a>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading text-center"><h3> Inscription</h3></div>
                <div class="panel-body">
                    <form ng-submit="createUser({nom:user.nom,prenom:user.prenom,email:user.email,dateDeNaissance:user.dateDeNaissance})" >                        
                        <div class="form-group">
                            <label for="inputNom">Nom :</label>
                            <input class="form-control" type="text" id="inputNom" autofocus="" required="" placeholder="Entrer votre nom" maxlength="40" ng-model="user.nom"/>
                        </div>
                        <div class="form-group">
                            <label for="inputPrenom">Prénom :</label>
                            <input type="text" class="form-control" id="inputPrenom" required="" placeholder="Entrer votre prénom" maxlength="60" ng-model="user.prenom"/>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Adresse electronique :</label>
                            <input type="email" class="form-control" id="inputEmail" required="" placeholder="Entrer votre adresse électronique" maxlength="60" ng-model="user.email"/>
                        </div>
                        <p ng-hide="errorEmail" class="text-danger ng-hide">L'adresse éléctronique est déjà utilisé !</p>
                        <div class="form-group">
                            <label for="inputDateNaiss">Date de naissance :</label>  
                            <p class="input-group">                         
                                <input type="text" class="form-control" id="inputDateNaiss" is-open="opened" required="" placeholder="Entrer votre date de naissance" datepicker-popup="{{'dd/MM/yyyy'}}" max-date="dateMax" ng-model="user.dateDeNaissance" close-text="Fermer" current-text="Aujourd'hui" clear-text="Suppr."/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><span class="glyphicon glyphicon-calendar"></span></button>
                                </span>
                            </p>
                        </div> 
                        <div class="form-group">
                            <label>Sexe : </label>
                            <!-- <select class="form-control" required="" ng-model="user.sexe">
                                 <option selected value="M" >Masculin</option>
                                 <option value="F" >Feminin</option>
                             </select> -->
                            <div>
                                <input type="radio" name="checkSexe" value="M" ng-model="user.sexe" checked=""> Masculin
                                <input type="radio" name="checkSexe" value="F" ng-model="user.sexe"> Feminin
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="inputPassword1">Mot de passe :</label>
                            <input type="password" class="form-control" id="inputPassword1" required="" placeholder="Entrer votre mot de passe" maxlength="32" ng-model="user.motDepasse"/>
                            <p ng-hide="errorPassword2" class="text-warning ng-hide">Le mot de passe doit avoir au moins huit caractères !</p>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword2">Répéter le mot de passe :</label>
                            <input type="password" class="form-control" id="inputPassword2" required="" placeholder="Répéter le mot de passe" maxlength="32" ng-model="password2">
                            <p ng-hide="errorPassword" class="text-danger ng-hide">Le mot de passe n'est pas le même !</p>
                        </div>
                        <p ng-hide="submited" class="text-danger ng-hide">Une erreur s'est produite lors de l'enregistrement,
                            veuiller recommencer !</p>
                        <input type="submit" id="submit" value="Valider" class="btn btn-primary" ng-model="submited"/>                  
                    </form>
                </div>
            </div>
        </div>


    </div>

</div>