<div class="container" style="margin-bottom: 100px; margin-top: 100px;">
    
    <div class="row">
        
        <div class="col-xs-4 col-sm-4 col-md-4">
            
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-4">
               <div class="panel panel-default">
               <div class="panel-heading"><h5 class="text-center"> Régénération du mot de passe</h5></div>
                    <div class="panel-body ">
        <div >
            <form class="form-signin" ng-submit="resetPw(email)"> 
                <div class="form-group">
                    <label for="inputEmail">E-mail</label>
                    <input class="form-control" type="text" id="inputEmail" autofocus="" required="" placeholder="Entrer l'email" ng-model="email">
                </div>

                <p ng-hide="submited" class="text-danger ng-hide">Une erreur s'est produite, veuiller recommencer SVP!</p>
               
                <button type="submit" class="btn btn-primary">Régénérer le mot de passe</button>                
            </form> 
        </div>  
         </div> 
    </div>
        
        </div>
        
        <div class="col-xs-4 col-sm-4 col-md-4">
            
        </div>
        
    </div>
    
    
 
</div>
